@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Inter:wght@400..700&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  html {
    @apply text-light bg-dark-100 font-body;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold font-heading text-white;
  }
  h1,
  .prose h1 {
    @apply mt-3 mb-5 text-4xl md:text-5xl;
  }
  h2,
  .prose h2 {
    @apply mt-2 mb-4 text-3xl md:text-4xl;
  }
  h3,
  .prose h3 {
    @apply mt-1 mb-3 text-2xl md:text-3xl;
  }
  a {
    @apply transition duration-300 ease-in-out;
  }

  .content {
    @apply prose text-lg text-light max-w-none prose-headings:text-primary prose-img:rounded-xl text-opacity-80 my-3 prose-pre:m-0 prose-pre:p-0 prose-pre:bg-transparent;

    & > pre {
      @apply p-0;
    }

    & > pre pre pre {
      @apply p-10 rounded-3xl border-2 border-secondary;
      &.dracula {
        @apply !bg-transparent;
      }
    }
  }
  blockquote {
    @apply py-1 !text-secondary bg-dark-25 text-opacity-80 !border-secondary;
  }
}

@layer utilities {
  .center-container {
    @apply container mx-auto px-5;
  }
}

@layer components {
  .menu-item {
    @apply hover:text-primary;
    &.active {
      @apply text-primary;
    }
  }
  .button {
    @apply inline-block px-3 py-1 transition duration-500 rounded-md hover:-translate-y-[2px] bg-dark-25 hover:text-secondary shadow-sm hover:shadow-secondary;
  }
}
